bjoern
-e git+https://github.com/HorsemanWSGI/horsebox.git#egg=horsebox
-e git+https://github.com/trollfot/horseman.git#egg=horseman
-e git+https://github.com/trollfot/roughrider.routing.git#egg=roughrider.routing
-e git+https://github.com/trollfot/roughrider.events.git#egg=roughrider.events
-e .
